<aside class="main-sidebar">
  <section class="sidebar">
    <form action="#" method="get" class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </form>

    <ul class="sidebar-menu tree" data-widget="tree">
      <li class="header">HEADER</li>
      <router-link tag="li" to="/" active-class="active" exact>
        <a>
          <i class="fa fa-home"></i>
          <span>Home</span>
        </a>
      </router-link>
      <router-link tag="li" to="/lessons" active-class="active">
        <a>
          <i class="fa fa-book"></i>
          <span>Lessons</span>
        </a>
      </router-link>
      <router-link tag="li" to="/tags" active-class="active">
        <a>
          <i class="fa fa-tag"></i>
          <span>Tags</span>
        </a>
      </router-link>
      <router-link tag="li" to="/words" active-class="active" exact class="treeview">
        <a>
          <i class="fa fa-sticky-note"></i>
          <span>Words</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu" style="display: block">
          <router-link tag="li" to="/words/verbs" active-class="active">
            <a>
              <i class="fa fa-circle-o"></i>
              <span>Động từ</span>
            </a>
          </router-link>
          <router-link tag="li" to="/words/adjs" active-class="active">
            <a>
              <i class="fa fa-circle-o"></i>
              <span>Tính từ</span>
            </a>
          </router-link>
          <router-link tag="li" to="/words/surus" active-class="active">
            <a>
              <i class="fa fa-circle-o"></i>
              <span>Suru verbs</span>
            </a>
          </router-link>
          <router-link tag="li" to="/words/expressions" active-class="active">
            <a>
              <i class="fa fa-circle-o"></i>
              <span>Expressions</span>
            </a>
          </router-link>
        </ul>
      </router-link>
    </ul>
  </section>
</aside>
