@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/admin-lte/dist/css/AdminLTE.min.css";
@import "../node_modules/admin-lte/dist/css/skins/_all-skins.css";

.spinner {
  position: absolute;
  top: 30%;
  left: 50%;
}

.fixed-table {
  max-height: 770px;
  display: -moz-groupbox;

  tbody {
    overflow-y: scroll;
  }
}

.big-cell-text {
  font-size: 20px;
}
