<div class="row divRow">
  <div class="col-md-5 Cell">
    <input v-focus type="text" placeholder="Index..." class="form-control" v-model="input.index">
  </div>
  <div class="col-md-5 Cell">
    <input type="text" placeholder="Book name..." class="form-control" v-model="input.bookName">
  </div>
  <div class="col-md-2 Cell">
    <button class="btn btn-warning btn-flat" v-on:click="submit">Save</button>
    <button class="btn btn-info btn-flat" v-on:click="cancelForm">Cancel</button>
  </div>
</div>
