<div class="row">
  <div class="col-md-12">
    <div class="box box-success" data-widget="box-widget">
      <div class="box-header with-border">
        <h3 class="box-title">Adjs</h3>

        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" type="button" v-on:click="fetchAdjs(true)">
            <i class="fa fa-refresh"></i>
          </button>
          <button class="btn btn-box-tool" type="button" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body table-responsive no-padding">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th rowspan="2" class="lesson-col lesson-cell">Bài</th>
              <th colspan="4" class="word-type-i-cell">イ　A</th>
              <th class="blank-col"></th>
              <th colspan="4" class="word-type-na-cell">ナ　A</th>
            </tr>
            <tr>
              <th class="word-type-i-cell">Hirakata</th>
              <th class="word-type-i-cell">Kanji</th>
              <th class="word-type-i-cell">意味</th>
              <th class="word-type-i-cell">Note</th>
              <th class="blank-col"></th>
              <th class="word-type-na-cell">Hirakata</th>
              <th class="word-type-na-cell">Kanji</th>
              <th class="word-type-na-cell">意味</th>
              <th class="word-type-na-cell">Note</th>
            </tr>
          </thead>
          <tbody>
            <template v-for="lesson in lessonsWithAdjs">
              <tr v-for="index in lesson.maxRow">
                <td v-if="index === 1" :rowspan="lesson.maxRow" class="lesson-cell">
                  {{lesson.bookName}}/{{lesson.index}}
                </td>
                <template v-if="!!lesson.iAdjs[index -1]">
                  <td class="big-cell-text oneline">{{lesson.iAdjs[index -1].hirakata}}</td>
                  <td class="big-cell-text oneline">{{lesson.iAdjs[index -1].kanji}}</td>
                  <td class="multiline">{{lesson.iAdjs[index -1].imi}}</td>
                  <td class="multiline">{{lesson.iAdjs[index -1].note}}</td>
                </template>
                <td colspan="4" v-else></td>
                <td class="blank-col"></td>
                <template v-if="!!lesson.naAdjs[index -1]">
                  <td class="big-cell-text oneline">{{lesson.naAdjs[index -1].hirakata}}</td>
                  <td class="big-cell-text oneline">{{lesson.naAdjs[index -1].kanji}}</td>
                  <td class="multiline">{{lesson.naAdjs[index -1].imi}}</td>
                  <td class="multiline">{{lesson.naAdjs[index -1].note}}</td>
                </template>
                <td colspan="4" v-else></td>
              </tr>
              <tr class="blank-row">
                <td colspan="20"></td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
