.blank-row {
  height: 10px !important;
}

th {
  text-align: center;
}

.lesson-col {
  width: 80px;
}

.word-type-col {
  width: 10px;
}

.lesson-cell {
  background-color: #e8e8e8;
  text-align: center;
  font-size: 18px;
}

.word-type-1-cell {
  background-color: #ffbc49;
}

.word-type-2-cell {
  background-color: #7aea52;
}
