<div class="row">
  <div class="col-md-2">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Lesson</h3>

        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" type="button" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body fixed-table">
        <div class="divTable">
          <div class="row divRow" v-for="lesson in lessons" v-on:click="changeLesson(lesson._id)" v-bind:class="{'selected-row': lesson._id === selectingLessonId}">
            <div class="Cell big-cell-text">{{lesson.bookName}}/{{lesson.index}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Words</h3>

        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" type="button" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body fixed-table">
        <div class="divTable">
          <div class="row divHeading">
            <div class="col-md-2 Cell">Hirakata</div>
            <div class="col-md-2 Cell">Kanji</div>
            <div class="col-md-2 Cell">意味</div>
            <div class="col-md-3 Cell">Note</div>
            <div class="col-md-2 Cell">Tags</div>
            <div class="col-md-1 Cell"></div>
          </div>
          <div class="row divRow" v-for="word in words" v-if="word !== editingWord">
            <div class="col-md-2 Cell big-cell-text">{{word.hirakata}}</div>
            <div class="col-md-2 Cell big-cell-text">{{word.kanji}}</div>
            <div class="col-md-2 Cell">{{word.imi}}</div>
            <div class="col-md-3 Cell">{{word.note}}</div>
            <div class="col-md-2 col-sm-2 Cell">
              <div v-if="word.tags">
                <tagBadge v-for="tag in word.tags" :type="tag.text" v-bind:key="tag._id"></tagBadge>
              </div>
            </div>
            <div class="col-md-1 col-sm-2 Cell">
              <button class="btn btn-danger btn-flat pull-right" v-on:click="deleteWord(word._id)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-success btn-flat pull-right" v-on:click="editWord(word)" v-if="!isShowCreateForm">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </div>
          <wordForm v-else />
          <template v-if="!editingWord">
            <wordForm v-if="isShowCreateForm" />
            <div class="row divRow" v-else>
              <div class="col-md-2 col-md-offset-10 Cell">
                <a class="btn btn-info btn-flat pull-right" colspan="3" v-on:click="newWord">Create New</a>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>
