<div class="row">
  <div class="col-md-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Words</h3>

        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" type="button" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body">
        <div class="form-group">
          <select class="form-control" v-on:change="changeLesson" v-model="selectingLessonId">
            <option v-for="lesson in lessons" v-bind:value="lesson._id">
              {{lesson.bookName}}/{{lesson.index}}
            </option>
          </select>
        </div>
        <div class="table-responsive">
          <table class="table no-margin">
            <thead>
              <tr>
                <th style="width: 15%">Hirakata</th>
                <th style="width: 15%">Kanji</th>
                <th style="width: 25%">意味</th>
                <th style="width: 25%">Note</th>
                <th style="width: 20%"></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="word in words" v-if="word !== editingWord">
                <td>{{word.hirakata}}</td>
                <td>{{word.kanji}}</td>
                <td>{{word.imi}}</td>
                <td>{{word.note}}</td>
                <td>
                  <button class="btn btn-danger btn-flat pull-right" v-on:click="deleteWord(word)">
                    <i class="fa fa-trash"></i>
                  </button>
                  <button class="btn btn-success btn-flat pull-right" v-on:click="editWord(word)" v-if="!isShowCreateForm">
                    <i class="fa fa-edit"></i>
                  </button>
                </td>
              </tr>
              <wordForm v-else v-bind:editingWord="word" v-on:wordUpdated="wordUpdated" v-on:cancelForm="cancelForm" />
              <template v-if="!editingWord">
                <wordForm v-if="isShowCreateForm" v-bind:selectingLessonId="selectingLessonId" v-on:wordCreated="wordCreated" v-on:cancelForm="cancelForm"
                />
                <td colspan="5" v-else>
                  <a class="btn btn-info btn-flat pull-right" colspan="3" v-on:click="newWord">Create New</a>
                </td>
              </template>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
