<div class="row">
  <div class="col-md-2">
    <div class="box" data-widget="box-widget">
      <div class="box-header with-border">
        <h3 class="box-title">Lesson</h3>

        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" type="button" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body no-padding fixed-table">
        <table class="table table-bordered">
          <tbody>
            <tr v-for="lesson in lessons" v-on:click="changeLesson(lesson._id)" v-bind:class="{'selected-row': lesson._id === selectingLessonId}">
              <td class="big-cell-text">{{lesson.bookName}}/{{lesson.index}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="overlay" v-if="isLoadingLessons">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="box box-success" data-widget="box-widget">
      <div class="box-header with-border">
        <h3 class="box-title">Words</h3>

        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" type="button" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body table-responsive no-padding fixed-table">
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Hirakata</td>
              <td>Kanji</td>
              <td>意味</td>
              <td>Note</td>
              <td>Tags</td>
              <td></td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="word in words">
              <td class="oneline">{{word.hirakata}}</td>
              <td class="oneline">{{word.kanji}}</td>
              <td class="multiline">{{word.imi}}</td>
              <td class="multiline">{{word.note}}</td>
              <td>
                <div v-if="word.tags">
                  <tagBadge v-for="tag in word.tags" :type="tag.text" v-bind:key="tag._id"></tagBadge>
                </div>
              </td>
              <td style="display: flex;">
                <button class="btn btn-danger btn-flat" v-on:click="deleteWord(word._id)">
                  <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-success btn-flat" data-toggle="modal" data-target="#wordForm" v-on:click="editWord(word)">
                  <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="box-footer">
        <a class="btn btn-info btn-flat pull-right" data-toggle="modal" data-target="#wordForm">Create New</a>
      </div>

      <div class="overlay" v-if="isLoadingWords">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
    </div>
  </div>
  <wordForm/>
</div>
