<div class="row">
  <div class="col-md-12">
    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title">Lessons</h3>

        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" type="button" v-on:click="fetchLessons(true)">
            <i class="fa fa-refresh"></i>
          </button>
          <button class="btn btn-box-tool" type="button" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body">
        <div class="divTable">
          <div class="row divHeading">
            <div class="col-md-5 Cell">Index</div>
            <div class="col-md-5 Cell">BookName</div>
            <div class="col-md-2 Cell"></div>
          </div>
          <div class="row divRow" v-for="lesson in lessons" v-if="lesson !== editingLesson">
            <div class="col-md-5 Cell">{{lesson.index}}</div>
            <div class="col-md-5 Cell">{{lesson.bookName}}</div>
            <div class="col-md-2 Cell">
              <button class="btn btn-danger btn-flat pull-right" v-on:click="deleteLesson(lesson._id)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-success btn-flat pull-right" v-on:click="editLesson(lesson)" v-if="!isShowCreateForm">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </div>
          <lessonForm v-else />
          <template v-if="!editingLesson">
            <lessonForm v-if="isShowCreateForm" />
            <div class="row divRow" v-else>
              <div class="col-md-2 col-md-offset-10 Cell">
                <a class="btn btn-info btn-flat pull-right" colspan="3" v-on:click="newLesson">Create New</a>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</div>
