<div class="row">
  <div class="col-md-12">
    <div class="box box-success" data-widget="box-widget">
      <div class="box-header with-border">
        <h3 class="box-title">Lessons</h3>

        <div class="box-tools pull-right">
          <button class="btn btn-box-tool" type="button" v-on:click="fetchLessons(true)">
            <i class="fa fa-refresh"></i>
          </button>
          <button class="btn btn-box-tool" type="button" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>
        </div>
      </div>

      <div class="box-body">
        <div class="divTable">
          <div class="row divHeading">
            <div class="col-md-5 Cell">Index</div>
            <div class="col-md-5 Cell">BookName</div>
            <div class="col-md-2 Cell"></div>
          </div>
          <div class="row divRow" v-for="lesson in lessons">
            <div class="col-md-5 Cell">{{lesson.index}}</div>
            <div class="col-md-5 Cell">{{lesson.bookName}}</div>
            <div class="col-md-2 Cell">
              <button class="btn btn-danger btn-flat pull-right" v-on:click="deleteLesson(lesson._id)">
                <i class="fa fa-trash"></i>
              </button>
              <button class="btn btn-success btn-flat pull-right" data-toggle="modal" data-target="#lessonForm" v-on:click="editLesson(lesson)">
                <i class="fa fa-edit"></i>
              </button>
            </div>
          </div>
          <div class="row divRow">
            <div class="col-md-2 col-md-offset-10 Cell">
              <button class="btn btn-info btn-flat pull-right" data-toggle="modal" data-target="#lessonForm">
                Create New
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <lessonForm/>
</div>
